@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">

@* ("_HeadPartial") *@
<head>
    <meta charset="utf-8">
    <title>Shine Hotel  </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/hotel-html-template/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/hotel-html-template/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/hotel-html-template/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/hotel-html-template/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/hotel-html-template/css/style.css" rel="stylesheet">
</head>

<body style="margin:0 !important; padding:0 !important">
    <div class="bg-white p-0">

        @* ("_SpinnerPartial") *@
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>


        @* ("_NavbarPartial") *@
        <div class="container-fluid bg-dark px-0">
            <div class="row gx-0">
                <div class="col-lg-3 bg-dark d-none d-lg-block">
                    <a asp-area="default" asp-controller="Home" asp-action="Index" class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                        <h1 class="m-0 text-primary text-uppercase">SHINE OTEL</h1>
                    </a>
                </div>
                <div class="col-lg-9">
                    <div class="row gx-0 bg-white d-none d-lg-flex">
                        <div class="col-lg-7 px-5 text-start">
                            <div class="h-100 d-inline-flex align-items-center py-2 me-4">
                                <i class="fa fa-envelope text-primary me-2"></i>
                                <p class="mb-0">shine@shine.com</p>
                            </div>
                            <div class="h-100 d-inline-flex align-items-center py-2">
                                <i class="fa fa-phone-alt text-primary me-2"></i>
                                <p class="mb-0">0212 654 87 98</p>
                            </div>
                        </div>
                        <div class="col-lg-5 px-5 text-end">
                            <div class="d-inline-flex align-items-center py-2">
                                <a class="me-3" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="me-3" href=""><i class="fab fa-twitter"></i></a>
                                <a class="me-3" href="https://www.linkedin.com/in/ebatuhanc/"><i class="fab fa-linkedin-in"></i></a>
                                <a class="me-3" href=""><i class="fab fa-instagram"></i></a>
                                <a class="" href=""><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                        <a asp-area="default" asp-controller="Home" asp-action="Index" class="navbar-brand d-block d-lg-none">
                            <h1 class="m-0 text-primary text-uppercase">Shine OTEL</h1>
                        </a>
                        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto py-0">
                                <a asp-area="default" asp-controller="Home" asp-action="Index" class="nav-item nav-link active">Ana Sayfa</a>
                                <a asp-controller="Home" asp-action="Index" asp-area="Guest" class="nav-item nav-link">Odalar</a>
                                <a asp-controller="Reservation" asp-action="Index" asp-area="Guest" class="nav-item nav-link">Rezervasyon</a>
                                <a asp-controller="About" asp-action="Index" asp-area="Guest" class="nav-item nav-link">Hakkımızda</a>
                                <a asp-controller="Comment" asp-action="Index" asp-area="Guest" class="nav-item nav-link">Bizi Değerlendirin</a>
                            </div>
                            <div class="navbar-nav ml-auto">
                                <!-- Sağ taraftaki bağlantılar -->
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <a href="/Identity/Account/Manage/Index" class="nav-item nav-link">Merhaba @User.Identity?.Name?.Split('@').FirstOrDefault()</a>
                                    <a href="/Identity/Account/Logout" class="nav-item nav-link">Çıkış Yap</a>
                                }
                                else
                                {
                                    <a href="/Identity/Account/Login" class="nav-item nav-link">Giriş</a>
                                    <a href="/Identity/Account/Register" class="nav-item nav-link">Üye Ol</a>
                                }
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        @* ("_SliderPartial") *@


        @RenderBody();
        @* ("_AboutUsPartial") *@

        @* ("_OurRoomPartial") *@


        @* ("_TrailerPartial") *@

        @* ("_ServicePartial") *@

        @* ("_TestimonialPartial") *@

        @* ("_TeamPartial") *@

        @* ("_SubscribePartial.cshtml") *@
        <div class="container newsletter mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="row justify-content-center">
                <div class="col-lg-10 border rounded p-1">
                    <div class="border rounded text-center p-1">
                        <div class="bg-white rounded text-center p-5">
                            <h4 class="mb-4">Fırsatları <span class="text-primary text-uppercase">Kaçırmayın</span></h4>
                            <div class="position-relative mx-auto" style="max-width: 400px;">
                                <input class="form-control w-100 py-3 ps-4 pe-5" type="text" placeholder="E-Posta Giriniz">
                                <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">Abone Ol</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @* ("_FooterPartial") *@
        <div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
            <div class="container pb-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-4">
                        <div class="bg-primary rounded p-4">
                            <a asp-area="default" asp-controller="Home" asp-action="Index"><h1 class="text-white text-uppercase mb-3">Shine Hotel</h1></a>
                            <p class="text-white mb-0">
                                Asp.Net Core ile Hazırlanan Web Tabanlı Online Rezervasyon Uygulamasıdır. <hr />Geliştirici: Eyüp Batuhan Çelik
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <h6 class="section-title text-start text-primary text-uppercase mb-4">İletişim</h6>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>İstanbul / Türkiye </p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>0212 645 64 45 </p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>shine@shine.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" target="_blank" href="https://www.linkedin.com/ebatuhanc/"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12">
                        <div class="row gy-5 g-4">
                            <div class="col-md-6">
                                <h6 class="section-title text-start text-primary text-uppercase mb-4">Şirketimiz</h6>
                                <a class="btn btn-link" href="">Hakkımızda</a>
                                <a class="btn btn-link" href="">Bize Yazın</a>
                                <a class="btn btn-link" href="">Güvenlik</a>
                                <a class="btn btn-link" href="">Kurallar & Şartlar</a>
                                <a class="btn btn-link" href="">Destek</a>
                            </div>
                            <div class="col-md-6">
                                <h6 class="section-title text-start text-primary text-uppercase mb-4">Hizmetler</h6>
                                <a class="btn btn-link" href="">Yemek & Restoran</a>
                                <a class="btn btn-link" href="">Spa & Fitness</a>
                                <a class="btn btn-link" href="">Spor ve Oyunlar</a>
                                <a class="btn btn-link" href="">Kutlamalar & Eğlence</a>
                                <a class="btn btn-link" href="">Yoga & Meditasyon</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; Tüm Hakları Saklıdır @DateTime.Now.Year


                            @* Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a> *@
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="">Ana Sayfa</a>
                                <a href="">Çerezler</a>
                                <a href="">Yardım</a>
                                <a href="">Veri Kullanımı</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    @* ("_ScriptPartial") *@
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/hotel-html-template/lib/wow/wow.min.js"></script>
    <script src="~/hotel-html-template/lib/easing/easing.min.js"></script>
    <script src="~/hotel-html-template/lib/waypoints/waypoints.min.js"></script>
    <script src="~/hotel-html-template/lib/counterup/counterup.min.js"></script>
    <script src="~/hotel-html-template/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/hotel-html-template/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/hotel-html-template/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/hotel-html-template/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/hotel-html-template/js/main.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>