<div class="container">
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <h1 class="ms-6">Ödeme İşlemi</h1>
        </div>
    </div>
</div>

<div id="iyzipay-checkout-form" class="responsive">
</div>
@Html.Raw(ViewBag.pay)

