<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Hizmetlerimiz</h6>
            <h1 class="mb-5">Hizmetlerimizi <span class="text-primary text-uppercase">Keşfedin</span></h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="service-item rounded" href="">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-hotel fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Odalar & Apartmanlar</h5>
                    <p class="text-body mb-0">Konforlu odalar ve şık apartmanlarımızda unutulmaz bir konaklama deneyimi yaşayın. Her detay, sizin için özenle düşünülmüştür.</p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <a class="service-item rounded" href="">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-utensils fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Yemek & Restoran</h5>
                    <p class="text-body mb-0">Lezzetli yemeklerimiz ve benzersiz restoran atmosferimizle damaklarınızı şımartın. Mükemmel bir yemek deneyimi sizi bekliyor.</p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <a class="service-item rounded" href="">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-spa fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Spa & Fitness</h5>
                    <p class="text-body mb-0">Rahatlatıcı spa hizmetlerimiz ve modern fitness olanaklarımızla kendinizi şımartın. Bedeninize ve ruhunuza iyi bakın.</p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <a class="service-item rounded" href="">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-swimmer fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Spor & Oyun</h5>
                    <p class="text-body mb-0">Geniş spor ve oyun alanlarımızla eğlenin. Yüzme havuzlarımız ve oyun aktivitelerimizle keyifli zaman geçirin.</p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <a class="service-item rounded" href="">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-glass-cheers fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Etkinlik & Parti</h5>
                    <p class="text-body mb-0">Özel etkinlikleriniz ve partileriniz için mükemmel mekan. Unutulmaz anılar birlikte yaşayalım.</p>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <a class="service-item rounded" href="">
                    <div class="service-icon bg-transparent border rounded p-1">
                        <div class="w-100 h-100 border rounded d-flex align-items-center justify-content-center">
                            <i class="fa fa-dumbbell fa-2x text-primary"></i>
                        </div>
                    </div>
                    <h5 class="mb-3">Gym & Yoga</h5>
                    <p class="text-body mb-0">Modern spor ekipmanlarıyla donatılmış fitness salonumuzda sağlığınıza ve formunuza önem verin. Yoga seansları ile zihinsel ve fiziksel dengeyi bulun.</p>
                </a>
            </div>
        </div>
    </div>
</div>
