@{
    ViewData["Title"] = "Index";
}

<div class="d-flex align-items-center justify-content-center" style="height: 500px;">
    <div>
        <h1 class="text-center">Welcome to Shine Otel Admin Panel</h1>
    </div>
</div>

